# We Rate Dogs Analysis
In this project, I am trying to analysze the 'We Rate Dogs' twitter handle's tweets where they rate various dogs. These tweets contain a picture and are favourited, retweeted several times. As part of this, I am gathering data from Udacity's Twitter archive and from Twitter using Tweepy API. Eventually I will assess, clean, analyze this dataset and finally come up with some insights and visualizations.

## Gathering Data

In [37]:
#import all the reqd libs
import pandas as pd
import os
import json
import requests #for http download
import matplotlib.pyplot as plt
import unicodedata 


%matplotlib inline

#### Manual File Download
Manually Download the WeRateDogs Twitter archive from UDacity and import it into the workspace.

In [38]:
dog_tweet = pd.read_csv('twitter-archive-enhanced.csv')
dog_tweet.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

#### Gathering data directly from the internet using HTTP
In this section we will try to gather data directly from the internet using Python **Requests** library.

In [39]:
#img url
img_pred_url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response= requests.get(img_pred_url) 
#print(response) # returns <Response [200]>, that means HTTP 200 Ok status
#Store the response in a file, file name should be the last string in the url, mode='wb' 
with open(img_pred_url.split('/')[-1], mode = 'wb') as file:
    file.write(response.content)# once the file is created, write the response.content

In [40]:
#import the file into workspace
img_pred = pd.read_csv('image-predictions.tsv', sep='\t')
img_pred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

#### Gathering data using Twitter API (lib Tweepy)
Each tweet's retweet count and favorite ("like") count at minimum, and any additional data you find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count. Note: do not include your Twitter API keys, secrets, and tokens in your project submission.

In [41]:
import tweepy

consumer_key = '' #remove later
consumer_secret = '' #remove latwr
access_token = '-' #remove later
access_secret = '' #remove later

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth)

#### Get tweet JSON data using tweet id
Getting tweet JSON data via tweet ID using Tweepy is described well in this StackOverflow answer. Note that setting the tweet_mode parameter to 'extended' in the get_status call, i.e., api.get_status(tweet_id, tweet_mode='extended'), can be useful.

Also, note that the tweets corresponding to a few tweet IDs in the archive may have been deleted. Try-except blocks may come in handy here.

In [42]:
#check the tweet_ids for nulls
sum(dog_tweet.tweet_id.isnull())

0

In [43]:
len(dog_tweet)

2356

For below funtion definition, I referred the following and modified as per need : https://medium.com/analytics-vidhya/fetch-tweets-using-their-ids-with-tweepy-twitter-api-and-python-ee7a22dcb845

In [44]:
#Function to to download json objects for each of the tweet ids
def createDataSet(dog_tweets_file, target_result_file):
    '''Function to download json objects for each of the tweet ids.
    
    It takes the tweet file name, where first column contains tweet ids. 
    And, it returns a list of dictionaries contain json objects
    '''
    import csv
    import time

    counter = 0
    dog_tweets = []

    with open(dog_tweets_file, 'r') as csv_file:
        line_reader = csv.reader(csv_file, delimiter=',', quotechar="\"")
        for row in line_reader:
            dog_tweets.append({"tweet_id": row[0]})

    sleep_time = 2
    tweets_dataset = []
    #Logging exceptions file
    logf = open("download.log", "w")
    #Log successful tweet ids to file
    
    for tweet in dog_tweets:
        try:
            tweet_fetched = api.get_status(tweet["tweet_id"])
            #append the json of the status object resturned by get_status
            tweets_dataset.append(tweet_fetched._json)
            #add a sleep time after each attempt
            time.sleep(sleep_time)

        except:
            #log exception to file
            logf.write("Failed to get_status() for tweet_id : {1}, \n exception:{2} ".format(tweet["tweet_id"], str(e)))
            continue
    # once all the tweets have been fetched, print it all in the target file                    
    with open(target_result_file, 'w') as outfile:
        try:
            json.dump(tweets_dataset, outfile,indent = 2)
        except Exception as e:
                    print(e)
 #later on, wrtie these exceptions to file  
    return tweets_dataset

In [45]:
### 1 hour to download 13.4 MB large data set with sleep time included
import os
import os.path
from os import path

dog_tweets_file = "twitter-archive-enhanced.csv"

target_result_file = "tweet_json.txt"


# Call the method if the file doesnt exist
if(not(os.path.exists(target_result_file)) | (os.stat(target_result_file).st_size == 0) ):
    resultFile = createDataSet(dog_tweets_file, target_result_file)
else : print('File is already downloaded')

File is already downloaded

#### Read back the JSON dump and create dataframe

In [46]:
#read back the json txt file
with open('tweet_json.txt', 'r') as j:
     #loads function helps in loading everything in json format, 
     #easy to access individual ele,ents later
        tweets_dicts = json.loads(j.read())

In [47]:
tweets_dicts[0]

{'created_at': 'Tue Aug 01 16:23:56 +0000 2017',
 'id': 892420643555336193,
 'id_str': '892420643555336193',
 'text': "This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU",
 'truncated': False,
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [],
  'media': [{'id': 892420639486877696,
    'id_str': '892420639486877696',
    'indices': [86, 109],
    'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'url': 'https://t.co/MgUWQ76dJU',
    'display_url': 'pic.twitter.com/MgUWQ76dJU',
    'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
     'small': {'w': 540, 'h': 528, 'resize': 'fit'},
     'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]},
 'extended_entities': {'media': [{'id': 892420639486877696,
    'id_str': '892420639486877696',
    'indices': [86, 109],
    'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'url': 'https://t.co/MgUWQ76dJU',
    'display_url': 'pic.twitter.com/MgUWQ76dJU',
    'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
     'small': {'w': 540, 'h': 528, 'resize': 'fit'},
     'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 4196983835,
  'id_str': '4196983835',
  'name': 'WeRateDogs®',
  'screen_name': 'dog_rates',
  'location': '「 DM YOUR DOGS 」',
  'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➪ WeRateDogs partnerships@weratedogs.com ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀',
  'url': 'https://t.co/Wrvtpnv7JV',
  'entities': {'url': {'urls': [{'url': 'https://t.co/Wrvtpnv7JV',
      'expanded_url': 'https://blacklivesmatters.carrd.co',
      'display_url': 'blacklivesmatters.carrd.co',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 8828896,
  'friends_count': 17,
  'listed_count': 5734,
  'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
  'favourites_count': 145821,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 12596,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1267972589722296320/XBr04M6J_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1267972589722296320/XBr04M6J_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1591077312',
  'profile_link_color': 'F5ABB5',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': True,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 7588,
 'favorite_count': 35830,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'lang': 'en'}

In [48]:
len(tweets_dicts)

2331

In [49]:
#Looking at an individual element
tweets_dicts[0]['entities']

{'hashtags': [],
 'symbols': [],
 'user_mentions': [],
 'urls': [],
 'media': [{'id': 892420639486877696,
   'id_str': '892420639486877696',
   'indices': [86, 109],
   'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
   'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
   'url': 'https://t.co/MgUWQ76dJU',
   'display_url': 'pic.twitter.com/MgUWQ76dJU',
   'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
   'type': 'photo',
   'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
    'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
    'small': {'w': 540, 'h': 528, 'resize': 'fit'},
    'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]}

In [50]:
tweets_dicts[0]['entities']['media'][0]['media_url_https']

'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg'

In [51]:
#for dicts in tweet_dicts
tweets_df = pd.DataFrame(tweets_dicts, columns = ['id', 'retweet_count', 'favorite_count'])
#df = df.sort_values('ranking').reset_index(drop=True)
tweets_df.head()

                   id  retweet_count  favorite_count
0  892420643555336193           7588           35830
1  892177421306343426           5623           30926
2  891815181378084864           3720           23281
3  891689557279858688           7766           39105
4  891327558926688256           8363           37357

## Assess

### Visual Assessment